* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --preto-200: #121212;
    --preto-900:#000000;
    --cinza-100:#A1A1A1;
    --cinza-700:#333333;
    --cinza-800:#202020;
    --cinza-900:#2A2A2A;
    --cinza-800:#333333;
    --azul-900: #1B3A5F;
    --amarelo-100: #FFDD00;
    --vermelho-800: #9B1C1C;
}

@font-face {
    font-family: 'BatmanForever';
    src: url('../assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
}
  
body {
    font-family: 'BatmanForever', sans-serif;
    background-color: var(--preto-900);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3);
    color: var(--preto-900);
    height: 100vh; 
    margin: 0;
    height: 100vh;
}

#container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    height: 100vh;           
    width: 100%;              
}

.titulos-principais {
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    color: var(--cinza-100); 
    transform: perspective(500px) translateZ(30px); 
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 
                 0 10px 20px rgba(0, 0, 0, 0.2); 
}


#secao-login {
    background-color: var(--cinza-100);
    display: flex;
    flex-direction: column;
    padding: 3.5rem;
    border-radius: 16px;  
    box-shadow: 0 16px 40px var(--preto-900);

    width: 30%;
    max-width: 75%;
}

#titulo-login{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

#div-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.campo {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 100%; 
}

.label-login {
    font-size: 14px; 
    margin-bottom: 0.25rem; 
    text-align: right; 
    width: 100%; 
}

input {
    width: 100%;
    border-radius: 8px;  
    box-shadow: 0 16px 40px var(--preto-900);
    height: 2rem;
    text-align: center;
    font-size: 16px;
}

.botao {
    margin-top: 1rem; 
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: var(--azul-900);
    color: var(--cinza-100);
    font-size: 16px;
    cursor: pointer;
}

.botao{
    margin-top: 2rem;
    border-radius: 8px;  
    box-shadow: 0 16px 40px var(--preto-900);
    height: 4rem;
    width: 12rem;
    color: var(--cinza-100);
    background-color: var(--preto-900);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.botao:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#campo-senha {
    position: relative;
}
  
#campo-senha input {
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}
  
#campo-senha #mostar-senha {
    position: absolute;
    top: 65%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #666;
  }
  
#campo-senha #mostar-senha:hover {
    color: #333;
}

nav{
    display: flex;
    justify-content: center;
}

#main-modulos{
    display : flex; 
    flex-direction: column; 
    align-items: center;
}

#container-modulos{
    display:flex;
    justify-content: space-around;
}

.modulos{
    text-align: center;
    text-decoration: none;
    color: var(--cinza-100);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.modulos:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imagem-padrao{
    height: 40rem;
    width: 30rem;
    max-width: 75%;
    max-height: 50%;
    border: 5px solid var(--cinza-100);
    border-radius: 10%;
}

.imagem-icone{
    border-radius: 50%;
    max-width: 15rem;
    max-height: 15rem;
}

.main-modulos{
    display: flex;
    justify-content: space-around;
}

#secao-registrar-empregado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.funcionalidades-modulos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: 30rem;
    border: 1px solid var(--cinza-100);
    margin-top: -50px;
}

.linha-funcionalidade-modulos{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 4rem;
    cursor: pointer;
    width: 100%;
    border-bottom: 5px solid var(--cinza-100) ;
    font-size: 20px;
    color: var(--cinza-100);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.linha-funcionalidade-modulos a{
    color:var(--cinza-100);
    text-decoration: none;
}
.linha-funcionalidade-modulos:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ancora-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid var(--cinza-100);
}

.main-form {
    display: flex;
    justify-content: center;
}

.formulario-padrao {
    width: 55rem;
    max-height: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--cinza-100);
    border: 1px solid var(--preto-900);
    border-radius: 10%;
}

.campo-form-padrao select {
    border-radius: 0.5rem;
    border: 1px solid var(--preto-900); 
    padding: 0.5rem;
    font-size: 1rem;
    appearance: none; 
}

.campo-form-padrao select option {
    padding: 0.5rem;
    font-size: 1rem; 
}

.campos-form {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    align-content: flex-start;
    padding: 2rem;
}

.campo-form-padrao input,
.campo-form-padrao select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    appearance: none;
    width: 1.2rem; 
    height: 1.2rem; 
    border: 1px solid var(--preto-900);
    border-radius: 80%;
    background-color: #fff; 
    cursor: pointer; 
}

input[type="checkbox"]:checked {
    background-color: var(--azul-900); 
    border-color: var(--azul-900);
}

.campo-checkbox {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.opcoes-checkbox{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.campo-checkbox label {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap; 
    align-items:center;
    gap: 0.5rem; 
}

.botoes-formulario{
    display: flex;
    gap: 2rem;
}

.container-tabelas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tabelas {
    background-color: var(--azul-900);
    color: var(--cinza-100);
    border-collapse: collapse;
    width: 70%;
    border: 5px solid var(--cinza-100);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); 
    margin: 20px auto; 
    border-radius: 8px;
}

th, td{
    padding: 5px; 
    text-align: center;
}

.textos-tabelas{
    font-size: 1.5rem;
    color: var(--cinza-100); 
    text-align: left;
    margin-bottom: 5px;
}

.container-buscar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-editar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-apagar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}