<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Funcionários</title>
</head>
<body>   
    <nav>
        <h1 class="titulos-principais">Funcionários</h1>
    </nav>
    <main id="main-funcionarios">
        <section id="secao-registrar-empregado">
            <img class="imagem-padrao imagem-icone" src="../static/assets/images/icone-registrar-usuário.jpg" alt="Ícone perfil">
            {%if context.permisao_registrar == 1%}
                <a class="botao ancora-botao" href="/funcionarios/registrar">Registrar Funcionário</a>
            {%endif%}
        </section>
        <section id="funcionalidades-empregados">
            <div class="linha-funcionalidade-funcionarios">
                <a href="/funcionarios/visualizar">Dashboard</a>
                <p>></p>
            </div>
            {%if context.permisao_editar == 1%}
                <div class="linha-funcionalidade-funcionarios">
                    <a href="/funcionarios/editar">Editar Funcionário</a>
                    <p>></p>
                </div>
            {%endif%}
            {%if context.permisao_deletar == 1%}
                <div class="linha-funcionalidade-funcionarios">
                    <a href="/funcionarios/remover">Remover Funcionário</a>
                    <p>></p>
                </div>
            {%endif%}
            <a class="botao ancora-botao" href="/home" type="button" hr>Sair</a>
        </section>
    </main>  
</body>
</html>