<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Registrar Funcionário</title>
</head>
<body>
    <nav>
        <h1 class="titulos-principais">Registrar Funcionário</h1>
    </nav>
    <main class="main-form">
        <form action="/funcionarios/registrar" class="formulario-padrao" method="POST">
            <section class="campos-form">
                <div class="campo-form-padrao">
                    <label for="nome-funcionario">Digite o nome do funcionário:</label>
                    <input type="text" name="nome-funcionario" id="nome-funcionario">
                </div>
                <div class="campo-form-padrao">
                    <label for="funcao-funcionario">Escolha a função do funcionário:</label>
                    <select name="funcao-funcionario" id="dropdown-funcionario">
                        <option value="funcionario-comum">Funcionário Comum</option>
                        <option value="administrador-seguranca">Administrador de Segurança</option>
                        <option value="gerente">Gerente</option>
                    </select>
                </div>
                <div class="campo-form-padrao campo-checkbox">
                    <h3 class="titulo-checkbox">Permissões</h3>
                    <div class="opcoes-checkbox">
                        <label for="permisao-registrar">
                            Registrar Itens e funcionários
                            <input type="checkbox" name="permisao-registrar"  value="0">
                        </label>
                        <label for="permisao-editar">
                            Editar Itens e funcionários
                            <input type="checkbox" name="permisao-editar" value="0">
                        </label>
                        <label for="permisao-deletar">
                            Deletar Itens e funcionários
                            <input type="checkbox" name="permisao-deletar" value="0">
                        </label>
                    </div>
                </div>
        </section>
            <div class="botoes-formulario">
                <button type="submit" class="botao">Cadastrar</button>
                <a class="botao ancora-botao" href="/funcionarios" type="button" hr>Sair</a>
            </div>
        </form> 
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'erro'%}
                        <script>
                            Swal.fire({
                                title: 'Erro ao cadastrar o usuário!',
                                text: '{{ message }}',
                                icon: 'error',  // Ícone de erro
                                confirmButtonText: 'Ok',
                                confirmButtonColor: '#9B1C1C', // Cor do botão
                                background: '#1B3A5F',        // Cor de fundo do modal
                                color: '#A1A1A1', 
                            });
                        </script>
                    {% endif %}
                    {% if category == 'sucesso'%}
                        <script>
                            Swal.fire({
                                title: 'Usuário Cadastrado com Sucesso!',
                                text: '{{ message }}',
                                icon: 'success',  // Ícone de erro
                                confirmButtonText: 'Ok',
                                confirmButtonColor: '#198754', // Cor do botão
                                background: '#1B3A5F',        // Cor de fundo do modal
                                color: '#A1A1A1', 
                            });
                        </script>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </main>
</body>
</html>