<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <h1 class="titulos-principais">Olá, {{context.nome}}!</h1>
    </nav>
    <main id="container-modulos">
        <a onclick="redirecionarModulo('funcionarios')" class="modulos">
            <img src="../static/assets/images/modulo_funcionarios.jpg" alt="Módulo Funcionários" class="imagens-modulos">
            <h2>Funcionários</h2>
        </a>
        <a onclick="redirecionarModulo('inventario')" class="modulos">
            <img src="../static/assets/images/modulo_inventario.jpg" alt="Módulo Inventário" class="imagens-modulos">
            <h2>Inventário</h2>
        </a>        
    </main>
</body>
<script>
    const urlPagina = 'http://127.0.0.1:5000/';

    function redirecionarModulo(modulo){
        fetch(urlPagina +  modulo)
        .then(response =>{
            if(response.ok){
                window.location.href = urlPagina +  modulo;
            }
        }).catch(error =>{
            throw new Error("Erro ao acessar a página.");
        });
    }

</script>
</html>