<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <h1 class="titulos-principais">Olá, {{context.nome}}!</h1>
    </nav>
    <main id="container-modulos">
        <a href="modulo_funcionarios.html" class="modulos">
            <img src="../static/assets/images/modulo_funcionarios.jpg" alt="Módulo Funcionários" class="imagens-modulos">
            <h2>Funcionários</h2>
        </a>
        <a href="#" class="modulos">
            <img src="../static/assets/images/modulo_ferramentas.jpg" alt="Módulo Ferramentas" class="imagens-modulos">
            <h2>Ferramentas</h2>
        </a>        
    </main>
</body>
</html>