<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <h1 class="titulos-principais">Olá, {{context.nome}}!</h1>
    </nav>
    <main id='main-modulos' >
        <section id="container-modulos">
            <a href="/funcionarios" class="modulos">
                <img src="../static/assets/images/modulo_funcionarios.jpg" alt="Módulo Funcionários" class="imagem-padrao">
                <h2>Funcionários</h2>
            </a>
            <a href="/inventario" class="modulos">
                <img src="../static/assets/images/modulo_inventario.jpg" alt="Módulo Inventário" class="imagem-padrao">
                <h2>Inventário</h2>
            </a>
        </section>
        <a class="botao ancora-botao" href="/login" type="button" hr>Sair</a>
    </main>
</body>     
</html>