<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <main id="container-login">
        <h1 class="titulos-principais">Wayne's</h1>
        <section id="secao-login">
            <h2 id="titulo-login">Login</h2>
            <form action="" method="post">
                <div id="div-login">
                    <div class="campo">
                        <label class = 'label-login' for="usuario">Usuário</label>
                        <input type="text" id="usuario" name="usuario">
                    </div>
                    <div class="campo" id="campo-senha">
                        <label class = 'label-login' for="senha">Senha</label>
                        <input type="password" id="senha" name="senha">
                        <span id="mostar-senha" onclick="mostrarSenha()">&#128065</span>
                    </div>
                    <button class='botao' type="submit">Entrar</button>
                </div>
            </form>
        </section>
        
        {% if erro %}
            <script>
                Swal.fire({
                    title: 'Erro ao Logar!',
                    text: '{{erro}}',
                    icon: 'error',  // Opções: 'success', 'error', 'warning', 'info', 'question'
                    confirmButtonText: 'Ok',
                    confirmButtonColor: '#9B1C1C', // Cor do botão
                    background: '#1B3A5F',        // Cor de fundo do modal
                    color: '#A1A1A1', 
                });
            </script>
        {% endif %}
        
    </main>
</body>
<script>
const inputSenha = document.getElementById('senha');

function mostrarSenha(){
    if(inputSenha.type === 'password'){
        inputSenha.type = 'text';
    }
    else{
        inputSenha.type = 'password';
    }
}
</script>
</html>